.btn-primary {
    background-color: rgba(68, 162, 234, 1) !important;
    border-color: rgba(68, 162, 234, 1) !important;
}

.wait {

    height: 121px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px dashed #B5B2B2;
    border-radius: 11px;
}

.video {
    min-height: 121px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #D9D9D9;
    border-radius: 11px;
}

.btn-stop {
    /* Rectangle 2 */

    position: relative;
    width: 27px;
    height: 27px;

    background-color: #FF7878 !important;
    border-radius: 3.48px;

}

.btn-stop:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 6px;
    top: 6px;

    background: #FFFFFF;

    display: block;
    content: '';
}

.counter {

    border: 0.696629px solid #6F6F6F;
    border-radius: 3.48315px;

    padding: 3.48315px 14.6292px;
    margin-right: 10px;
}